strong {
  font-weight: bold;
  color: #dc143c;
}

table {
  margin: auto;
  text-align: center;
  display: table;
}

table td, table th {
  border: 1px solid #dc143c;
  color: #666;
  height: 30px;
  min-width: 50px;
}

table thead th {
  background-color: #fafafa;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Noto Sans CJK SC, Arial, Helvetica Neue !important;
}

code, kbd, .line-number {
  font-family: JetBrains Mono, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

blockquote {
  background-color: #fff9f9;
  border-left-color: #DA5961;
  border-left-width: 6px;
  border-left-style: solid;
  padding: 20px 45px 20px 26px;
}

blockquote p {
  color: #2e2e2e;
}

@media screen and (max-width: 1080px) {
  .theme-container.sidebar-open .sidebar {
    transform: translateX(0);
  }

  .sidebar {
    top: 0;
    padding-top: 3.6rem;
    transform: translateX(-100%);
    transition: transform 0.2s;
  }

  .sidebar-button {
    display: block !important;
  }

  .page {
    padding-left: 0;
  }

  .navbar {
    padding-left: 4rem !important;
  }

  .navbar .site-name {
    width: calc(100vw - 9.4rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #app > div.theme-container > header > div.links {
    max-width: 1626px !important;
  }
}